<!--<input ng-model="user.username">
<input ng-model="user.gender">-->

<input ng-model="player.name">

<p>form is valid ? {{myForm.$valid}}</p>

<form novalidate name="myForm" imt-form edit-mode="true">
		<imt-field-block readonly="false">
			<imt-field-label>
				<etext key="I0001-0057-0005">Name (alphabet)</etext>
			</imt-field-label>

			<imt-field-content>
				<imt-input
					ng-model="user.username"
					ng-required="true"
				></imt-input>
			</imt-field-content>
		</imt-field-block>


</form>

<my-user></my-user>
