<imt-field-container imt-field-bind-record imt-field-bind-error>
	<imt-field-label>
		{{label}}
		<span ng-show="debug == 'true'" style="font-weight: normal; color:#999;">{{model[key]}}</span>
	</imt-field-label>

	<div ng-show="editMode" ng-switch on="type">

		<div ng-switch-when="text">
			<imt-input ng-model="ngModel">
			<!--<input
				imt-input
				validation="validation"
				ng-model="model[key]"
				name="{{name}}"
				ng-required="ngRequired"
				class="form-control">-->
		</div>

		<div ng-switch-when="select">
			<imt-select ng-model="ngModel" category="{{category}}"></imt-select>
			<!--<select
				ng-model="model[key]"
				ng-required="ngRequired"
				ng-options="item.value as item.translation for item in items"
				class="form-control">
			</select>-->
		</div>

		<div ng-switch-when="radio">
			<imt-radio ng-model="ngModel" category="{{category}}"></imt-radio>
<!--			<label class="radio-inline" ng-repeat="item in items">
				<input
					type="radio"
					ng-model="model[key]"
					name="{{key}}"
					value="{{item.value}}"/>
				<span lookup category="{{category}}" value="item.value"></span>
			</label>-->
		</div>

		<div ng-switch-default>
			(default content)
		</div>
	</div>

	<div ng-hide="editMode" ng-switch on="type">
		<p class="form-control-static">
			<span ng-switch-when="text">{{model[key]}}</span>
			<span ng-switch-default>
				<lookup category="{{category}}" value="model[key]" />
			</span>
		</p>
	</div>

	<div
			class="alert alert-danger"
			ng-messages="field.$error"
			ng-show="field.$invalid"
			ng-messages-include="modules/imt-field/error-messages.html">
	</div>

</imt-field-container>
